.extendBtn{
    color: #f50057;
    border: 1px solid #f50057;
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    padding: 5px 16px;
    background-color: #ffffff;
}
.cancelBtn{
    color: #6b6a6a;
    border: 1px solid #6b6a6a;
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    padding: 5px 16px;
    background-color: #ffffff;
}
.disableBtn{
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);;
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    padding: 5px 16px;
    background-color: #ffffff;
}
.extendTd{
    border-bottom: 1px solid rgba(224, 224, 224, 1)
}
.penaltyAmount{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    color: red;
    font-weight: 600;
    text-align: left;
    padding: 16px;
}
.payBtn{
    color: #ffffff;
    border: 1px solid rgba(245, 0, 87, 0.7);
    border-radius: 4px;
    font-size: 12px;
    height: 30px;
    padding: 5px 16px;
    background-color: #f50057;
}
.statusTd{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: left;
    padding: 16px;
}